APP_PORT=8080
POSE_PROVIDER=rtmw
RTMW_ONNX_PATH=models/rtmw-l-384x288.onnx
RTMW_INPUT_WIDTH=288
RTMW_INPUT_HEIGHT=384
MODEL_AUTO_DOWNLOAD=false
MODEL_DOWNLOAD_REQUIRED=false
RTMW_MODEL_URL=https://download.openmmlab.com/mmpose/v1/projects/rtmw/onnx_sdk/rtmw-dw-x-l_simcc-cocktail14_270e-384x288_20231122.zip
RTMW_MODEL_SHA256=
VIEW_PROVIDER=densepose,paddle
DENSEPOSE_CONFIG=
DENSEPOSE_WEIGHTS=
DENSEPOSE_DEVICE=cpu
DENSEPOSE_SCORE_THRESHOLD=0.7
DENSEPOSE_FRONT_PARTS=
DENSEPOSE_BACK_PARTS=
STORAGE_PROVIDER=file
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=
OSS_PREFIX=image-crop-pipeline/
